.btn{
  min-width: 150px;
}

.navbar-toggler:focus{
  outline: 5px auto var(--btn-secondary);
}

.navbar{
  -webkit-box-shadow: 0 2px 5px var(--box-shadow);
  box-shadow: 0 2px 5px var(--box-shadow);
}

.navbar-light{
  background: var(--primary-color);
}

.navbar-brand{
  font-weight: 700;
}

.navbar-brand,
.nav-link{
  margin-right: 35px;
  color: var(--text-color-light);
}

.navbar-brand:hover,
.nav-link:hover{
  color: var(--text-color);
}

.navbar > .show ~ .collapse:not(.show){
  display: block;
}

.profile{
  margin-right: 25px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .navbar-brand{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0;
  }
}

@media (max-width: 576px){
  .navbar-brand{
    margin-right: 0;
  }

  .hidden-sm{
    display: none;
  }
}
