<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button"
          (click)="clickEvent()"
          [ngClass]="toggleNavbar ? 'show' : 'hidden'">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/my-projects">
    <img src="{{logoUrl}}" alt="logo">
    <span class="hidden-sm">
      GitTanss
    </span>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-projects">
          My projects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects">
          All projects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-projects">
          Create project
        </a>
      </li>
    </ul>
    <div class="my-2 my-lg-0 text-right">
     <span class="profile"
           *ngIf="currentUser">
       {{currentUser.username}}
     </span>
      <button class="btn btn-primary my-2 my-sm-0" type="submit"
              (click)="onSubmit()">
        Logout
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

