<div class="modal-header">
  <h4 class="modal-title">
    Delete
  </h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    <i class="fa fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>
    Are you sure you want to delete "
    <span class="title">
      {{title}}
    </span>
    " project?
  </p>
</div>
<div class="modal-footer d-flex">
  <button class="btn btn-secondary w-100"
          (click)="activeModal.dismiss()">
    Cancel
  </button>
  <button class="btn btn-danger w-100"
          (click)="activeModal.close()">
    Delete
  </button>
</div>
