<div class="not-found d-flex justify-content-center align-items-center">
  <span>
  404
</span>
  <img src="../../../assets/images/404.png" alt="404" title="GitTanss">
</div>
<div class="text-center">
  <small id="help" class="form-text text-muted">
    Redirect?
    <a routerLink="/login">
      Login
    </a>
  </small>
</div>

