<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="form-container">
        <div class="auth-title">
          <img src="{{logoUrl}}" alt="logo" title="GitTanss">
          <h2>
            Login
          </h2>
        </div>
        <div class="alert alert-{{message.type}}"
             *ngIf="message.text">
          {{message.text}}
        </div>
        <form [formGroup]="formLogin"
              (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">
              Email or username
            </label>
            <input id="username" type="text" class="form-control" aria-describedby="emailHelp"
                   placeholder="Email or username" formControlName="usernameOrEmail">
            <span class="form-control-error"
                  *ngIf="formLogin.get('usernameOrEmail').invalid && formLogin.get('usernameOrEmail').touched">
              <span *ngIf="formLogin.get('usernameOrEmail')['errors']['required']">
                Please enter email or username
              </span>
            </span>
          </div>
          <div class="form-group">
            <label for="password">
              Password
            </label>
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
            <span class="form-control-error"
                  *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched">
              <span *ngIf="formLogin.get('password')['errors']['required']">
                Please enter password
              </span>
            </span>
          </div>
          <div>
            <small id="help" class="form-text text-muted">
              Don't have an account?
              <a routerLink="/registration">
                Registration
              </a>
            </small>
          </div>
          <br>
          <button type="submit" class="btn btn-primary w-100"
                  [disabled]="formLogin.invalid">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
