<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="form-container">
        <div class="auth-title">
          <img src="{{logoUrl}}" alt="logo" title="GitTanss">
          <h2>
            Register
          </h2>
        </div>
        <div class="alert alert-{{message.type}}"
             *ngIf="message.text">
          {{message.text}}
        </div>
        <form [formGroup]="formRegistration"
              (submit)= "registration()">
          <div class="form-group">
            <label for="email">
              Email address
            </label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                   placeholder="Email" formControlName="email" >
            <span class="form-control-error"
                  *ngIf="formRegistration.get('email').invalid && formRegistration.get('email').touched">
              <span *ngIf="formRegistration.get('email')['errors']['required']">
                Please enter email
              </span>
              <span *ngIf="formRegistration.get('email')['errors']['email']">
                Enter correct email
              </span>
            </span>
          </div>
          <div class="form-group">
            <label for="username">
              Username
            </label>
            <input id="username" type="text" class="form-control" aria-describedby="emailHelp"
                   placeholder="Username" formControlName="username">
            <span class="form-control-error"
                  *ngIf="formRegistration.get('username').invalid && formRegistration.get('username').touched">
              <span
                  *ngIf="formRegistration.get('username')['errors']['required']">
                Please enter username
              </span>
              <span *ngIf="formRegistration.get('username')['errors']['minlength']">
                Password must be at least
                {{formRegistration.get('username')['errors']['minlength']['requiredLength']}}
                characters
              </span>
              <span *ngIf="formRegistration.get('username')['errors']['maxlength']">
                Password must be at less
                {{formRegistration.get('username')['errors']['maxlength']['requiredLength']}}
                characters
              </span>
            </span>
          </div>
          <div class="form-group">
            <label for="password">
              Password
            </label>
            <input id="password" type="password" class="form-control"
                   placeholder="Password" formControlName="password">
            <span class="form-control-error"
                  *ngIf="formRegistration.get('password').invalid && formRegistration.get('password').touched">
              <span *ngIf="formRegistration.get('password')['errors']['required']">
                Please enter password
              </span>
              <span *ngIf="formRegistration.get('password')['errors']['minlength']">
                Password must be at least
                {{formRegistration.get('password')['errors']['minlength']['requiredLength']}}
                characters
              </span>
              <span *ngIf="formRegistration.get('password')['errors']['maxlength']">
                Password must be at less
                {{formRegistration.get('password')['errors']['maxlength']['requiredLength']}}
                characters
              </span>
            </span>
          </div>
          <div>
            <small id="help" class="form-text text-muted">
              Already have an account?
              <a routerLink="/login">
                Login
              </a>
            </small>
          </div>
          <br>
          <button type="submit" class="btn btn-primary w-100"
                  [disabled]="formRegistration.invalid">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
