<div class="modal-header">
  <h4 class="modal-title">
    {{titleModal}}
  </h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    <i class="fa fa-times"></i>
  </button>
</div>
<form [formGroup]="myForm"
      (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label for="title">
          {{titleCard}}
        </label>
        <span *ngIf="!statusTitle; else editTitle">
          <input id="title" class="form-control" type="text"
                 placeholder = "Title project"
                 [value]="title"
                 formControlName="title" />
           <span class="form-control-error"
                 *ngIf="myForm.get('title').invalid && myForm.get('title').touched">
              <span
                *ngIf="myForm.get('title')['errors']['required']">
                Please enter name project
              </span>
              <span *ngIf="myForm.get('title')['errors']['minlength']">
                Name project must be at least
                {{myForm.get('title')['errors']['minlength']['requiredLength']}}
                characters
              </span>
              <span *ngIf="myForm.get('title')['errors']['maxlength']">
                Name project be at less
                {{myForm.get('title')['errors']['maxlength']['requiredLength']}}
                characters
              </span>
            </span>
        </span>
        <ng-template #editTitle>
          <input id="title" class="form-control" type="text"
                 placeholder = "Title project"
                 [value]="title"
                 disabled />
        </ng-template>
      </div>
      <div class="form-group">
        <label for="description">
          {{descriptionCard}}
        </label>
        <textarea id="description" class="form-control"
                  placeholder = "Description project"
                  [value]="description"
                  rows="{{rowDescription}}"
                  formControlName="description">
        </textarea>
        <span class="form-control-error"
              *ngIf="myForm.get('description').invalid && myForm.get('description').touched">
          <span
            *ngIf="myForm.get('description')['errors']['required']">
            Please enter description project
          </span>
           <span *ngIf="myForm.get('description')['errors']['minlength']">
                Description must be at least
             {{myForm.get('description')['errors']['minlength']['requiredLength']}}
             characters
              </span>
              <span *ngIf="myForm.get('description')['errors']['maxlength']">
                Description can't be over 250 characters
              </span>
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex">
    <button class="btn btn-secondary w-100"
            (click)="activeModal.dismiss()">
      Cancel
    </button>
    <button *ngIf="statusTitle else editButton" class="btn btn-success w-100">
        Submit Form
    </button>
    <ng-template #editButton>
      <button class="btn btn-success w-100"
              [disabled]="!myForm.valid">
        Submit Form
      </button>
    </ng-template>
  </div>
</form>
