.modal-header,
.modal-footer{
  border: none;
}

.modal-boy{
  height: 100%;
}

.form-group{
  position: relative;
  margin-bottom: 30px;
}

.form-control-error{
  position: absolute;
  font-size: 14px;
  color: var(--btn-danger);
}

.close{
  outline: none;
}

@media (max-width: 576px){
  .form-container{
    margin-top: 15px;
  }
}
