<div class="container">
  <h2 class="title">
    My projects
  </h2>
  <div class="row mb-5 align-items-center">
    <div class="col-12 mb-3">
      <div class="alert alert-{{message.type}}"
           *ngIf="message.text">
        {{message.text}}
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <button  class="btn btn-success w-100 mb-s-3"
               (click)="create()">
        Create project
      </button>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control w-100" type="search"
               placeholder="Search..."
               name="search"
               [(ngModel)]="searchValue">
      </form>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="( projects | filter : searchValue) as result">
      <div
        class="alert-info"
        *ngIf="result.length === 0">
        Empty list projects
      </div>
    </ng-container>
    <div class="col-sm-12 col-md-6 col-lg-4"
         *ngFor="let project of projects | filter:searchValue; let index = index;" >
      <div class="card">
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title" >
            {{project.title}}
          </h5>
          <p class="card-text flex-shrink-1 flex-grow-1">
            {{project.description}}
          </p>
          <div class="d-flex">
            <button  class="btn btn-primary mr-1 w-100"
                     (click)="edit(project)">
              Edit
            </button>
            <button class="btn btn-danger ml-1 w-100"
                    (click)="delete(project, index)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
