/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
:root {
  --primary-color: #fff;
  --secondary-color: #ddd;
  --background-color: #e5e5e5;
  --text-color: #2d2d2d;
  --text-color-light: #5d5c5d;
  --box-shadow: #b9b9b9;
  --box-shadow-darck: #8c8c8c ;
  /*general color*/
  --primary-gray: #cecece;
  --primary-gray-light: #8c8c8c;
  /*button*/
  --btn-primary: #3c7ebb;
  --btn-primary-hover: #3B69A5;
  --btn-success: #218838;
  --btn-success-hover: #206030;
  --btn-danger: #bb432c;
  --btn-danger-hover: #9d452e;
  --btn-secondary: #b9b9b9;
  --btn-secondary-hover: #787878;
  /*time*/
  --translition-time: 0.3s;
}
html body{
  font-family: 'Lato', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

body .modal-content{
  border-radius: 0;
  padding: 5px;
}

body .modal textarea{
  display: block!important;
}

textarea#description.form-control.ng-dirty.ng-invalid.ng-touched {
  display: block!important;
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--primary-gray);
}

::-webkit-scrollbar-thumb{
  background: var(--primary-gray-light);
}
